<div id="search-bar" class="search-bar">
  <div class="search-inner">
    <i class="fas fa-search"></i>
    <input type="text" id="search-input" class="search-input" placeholder="Search products by name, category, or application..." autocomplete="off" />
    <button id="search-close" type="button" class="search-close" aria-label="Close search"><i class="fas fa-times"></i></button>
  </div>
  <div id="search-results" class="search-results"></div>
</div>
